<div class="border-top">
  <app-space></app-space>
  <!-- <h2 class="fw-bold pb-5">CONTACT</h2> -->
  <p>Let's build something amazing together!</p>

  <div class="container m-auto">
    <form
      action="mailto:samar8309@gmail.com"
      enctype="multipart/form-data"
      method="post"
    >
      <input
        type="email"
        class="form-control my-3"
        placeholder="Your Email...."
      />
      <textarea
        type="text"
        class="form-control my-3"
        placeholder="Your Message...."
      ></textarea>
      <button type="submit" class="btn btn-main w-50">Send</button>
    </form>
  </div>
</div>
