<div class="border-top">
  <app-space></app-space>
  <h2 class="fw-bold pb-5">LINKS</h2>

  <div class="d-flex justify-content-evenly align-items-center">
    <div class="git">
      <i class="fa-brands fa-square-github p-2"></i>
      <a href="https://github.com/samarrsamyy" target="_blank">Github</a>
    </div>

    <div class="linked">
      <i class="fa-brands fa-linkedin p-2"></i>
      <a href="https://www.linkedin.com/in/samarrsamyy/" target="_blank">LinkedIn </a>
    </div>

    <div class="resume">
      <i class="fa-solid fa-file p-2"></i>
      <a href="https://drive.google.com/file/d/19qWB9p5N3-7rvztMt-sKAaLYBF-Da7LU/view?usp=drive_link" target="_blank">Resume </a>
    </div>

  </div>
</div>
