<div class="border-top">
  <app-space></app-space>
  <h2 class="fw-bold pb-5">SKILLS</h2>

  <div class="tech">
    <div class="row g-4">
      <div class="col col-6 col-md-4 col-lg-3">
        <div class="bg-main rounded p-3">
          <p class="h6 m-0">HTML5</p>
        </div>
      </div>
      <div class="col  col-6 col-md-4 col-lg-3">
        <div class="bg-main rounded p-3">
          <p class="h6 m-0">CSS/CSS3</p>
        </div>
      </div>
      <div class="col col-6 col-md-4 col-lg-3">
        <div class="bg-main rounded p-3">
          <p class="h6 m-0">JavaScript</p>
        </div>
      </div>
      <div class="col col-6 col-md-4 col-lg-3">
        <div class="bg-main rounded p-3">
          <p class="h6 m-0">TypeScript</p>
        </div>
      </div>

      <div class="col col-6 col-md-4 col-lg-3">
        <div class="bg-main rounded p-3">
          <p class="h6 m-0">Bootstrap</p>
        </div>
      </div>
      <div class="col col-6 col-md-4 col-lg-3">
        <div class="bg-main rounded p-3">
          <p class="h6">GitHub</p>
        </div>
      </div>

      <div class="col col-6 col-md-4 col-lg-3">
        <div class="bg-main rounded p-3">
          <p class="h6 m-0">Angular17</p>
        </div>
      </div>

      <div class="col col-6 col-md-4 col-lg-3">
        <div class="bg-main rounded p-3">
          <p class="h6 m-0">Figma</p>
        </div>
      </div>
      <div class="col col-6 col-md-4 col-lg-3">
        <div class="bg-main rounded p-3">
          <p class="h6 m-0">AJAX/API</p>
        </div>
      </div>

      <div class="col col-6 col-md-4 col-lg-3">
        <div class="bg-main rounded p-3">
          <p class="h6 m-0">DOM/BOM</p>
        </div>
      </div>
      <div class="col col-6 col-md-4 col-lg-3">
        <div class="bg-main rounded p-3">
          <p class="h6 m-0">SASS</p>
        </div>
      </div>
      <div class="col col-6 col-md-4 col-lg-3">
        <div class="bg-main rounded p-3">
          <p class="h6 m-0">ES6</p>
        </div>
      </div>
    </div>
  </div>

  
</div>
