<div class="border-top">
  <app-space></app-space>
  <h2 class="fw-bold pb-5">PROJECTS</h2>

  <div class="projects">
    <div class="row g-4">
      <div class="col col-12 col-md-6 col-lg-4">
        <div class="project bg-main rounded">
          <div class="image-container bg-main rounded overflow-hidden">
            <a href="https://samarrsamyy.github.io/Daniels/" target="_blank">
              <img src="./assets/image/danials.png" alt="" class="rounded" />
            </a>
          </div>
          <div
            class="text d-flex justify-content-between align-items-center px-3"
          >
            <p>Daniels</p>
            <p class="opacity-75">HTML - CSS</p>
          </div>
        </div>
      </div>

      <div class="col col-12 col-md-6 col-lg-4">
        <div class="project bg-main rounded">
          <div class="image-container bg-main rounded overflow-hidden">
            <a href="https://samarrsamyy.github.io/Bookmarker/" target="_blank">
              <img src="./assets/image/crud.png" alt="" class="rounded" />
            </a>
          </div>
          <div
            class="text d-flex justify-content-between align-items-center px-3"
          >
            <p>Bookmarker(CRUD System)</p>
            <p class="opacity-75">HTML - CSS - JavaScript</p>
          </div>
        </div>
      </div>

      <div class="col col-12 col-md-6 col-lg-4">
        <div class="project bg-main rounded">
          <div class="image-container bg-main rounded overflow-hidden">
            <a
              href="https://samarrsamyy.github.io/login_system/"
              target="_blank"
            >
              <img src="./assets/image/login.png" alt="" class="rounded" />
            </a>
          </div>
          <div
            class="text d-flex justify-content-between align-items-center px-3"
          >
            <p>Login System</p>
            <p class="opacity-75">HTML - CSS - JavaScript</p>
          </div>
        </div>
      </div>

      <div class="col col-12 col-md-6 col-lg-4">
        <div class="project bg-main rounded">
          <div class="image-container bg-main rounded overflow-hidden">
            <a
              href="https://samarrsamyy.github.io/Weather-Forecast/"
              target="_blank"
            >
              <img src="./assets/image/weather.png" alt="" class="rounded" />
            </a>
          </div>
          <div
            class="text d-flex justify-content-between align-items-center px-3"
          >
            <p>Live Weather-Forecast</p>
            <p class="opacity-75">HTML - CSS - JavaScript</p>
          </div>
        </div>
      </div>

      <div class="col col-12 col-md-6 col-lg-4">
        <div class="project bg-main rounded">
          <div class="image-container bg-main rounded overflow-hidden">
            <a
              href="https://samarrsamyy.github.io/Yummy-Recipes/"
              target="_blank"
            >
              <img src="./assets/image/yummy.png" alt="" class="rounded" />
            </a>
          </div>
          <div
            class="text d-flex justify-content-between align-items-center px-3"
          >
            <p>API Recipes</p>
            <p class="opacity-75">HTML - CSS - JQuery</p>
          </div>
        </div>
      </div>

      <div class="col col-12 col-md-6 col-lg-4">
        <div class="project bg-main rounded">
          <div class="image-container bg-main rounded overflow-hidden">
            <a href="https://routefrechcart.netlify.app/" target="_blank">
              <img
                src="./assets/image/freshcart-logo.svg"
                alt=""
                class="rounded"
              />
            </a>
          </div>
          <div
            class="text d-flex justify-content-between align-items-center px-3"
          >
            <p>eCommerce</p>
            <p class="opacity-75">Angular17</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
