<div id="about">
  <h1 class="fw-bold">Front-end Developer.</h1>
  <p class=" fs-5 w-640 m-auto">
    I'm Samar Samy, a passionate Frontend Developer with extensive experience in
    building dynamic, responsive, and user-friendly web applications using
    Angular. With a strong focus on delivering clean, efficient, and scalable
    code, I thrive in environments that require innovative problem-solving and
    collaboration. I'm always eager to learn new technologies, improve my craft,
    and contribute to meaningful projects that enhance the user experience.
  </p>
</div>
